body, html {
	width: 100%;
	height: 100%;
	font-family: GoudyStM;
}

.back-nav {
	position: absolute;
}

.back-nav a {
	color:#FFFFFF;
	position:fixed;
	background:#000000;
	bottom:20px;
	right:20px;
	padding: 15px 18px;
	z-index: 99999;
}

#bakery-img {
	background: url(../img/bakerytable.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	height: 250px;
}

.price-list {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

li {
	list-style-type: none;
}

@media (min-width: 768px) {
	.header {
		position: absolute;
		top: 20px;
		left: 52%;
	}

	#service {
		display: table;
		width: 100%;
		height: 100%;
	}

	#bakery-img {
		background-position: 0 75%;
		width: 50%;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	.column {
		position: relative;
		left: 50%;
		width: 50%;
		vertical-align: middle;
	}

	.container {
		width: initial;
	}
}

@media (min-width: 992px) {
	#bakery-img {
		background-position: 0 0;
	}
}

/*
 * Fonts
 */
@font-face {
	font-family: GoudyStM;
	src: url('../fonts/GoudyStM-webfont.ttf');
}