body, html {
	width: 100%;
	height: 100%;
	font-family: Gotham;
}

h1, h2, h3, h4 {
	color:#F2102B;
	font-family: "UrbanoLightItalic";
}

a {
	font-weight: bold;
	color: #1B1240;
}

a:hover{
	color: #876179;
}

.back-nav {
	position: absolute;
}

h3.section-header {
	padding: 10px 0 0 0;
}

.back-nav a {
	border:2px #000 solid;
	color:#000;
	position:fixed;
	background: url("../img/bg/concrete-wall-red.png");
	bottom:20px;
	right:20px;
	padding: 15px 20px;
	z-index: 99999;
}

#cakes-img {
	background: url(../img/service_page_cakes.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	height: 250px;
}

#bakery-img {
	background: url(../img/service_page_bakery.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	height: 250px;
}

.price-list {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

li {
	list-style-type: none;
}

@media (min-width: 768px) {
	.header {
		position: absolute;
		top: 20px;
		left: 52%;
	}

	#service {
		display: table;
		width: 100%;
		height: 100%;
	}

	#bakery-img {
		background-position: 0 75%;
	}

	#cakes-img {
		background-position: 100% 0;
	}

	#bakery-img, #cakes-img {
		
		width: 50%;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	.column {
		position: relative;
		left: 50%;
		width: 50%;
		vertical-align: middle;
	}

	.container {
		width: initial;
	}
}

@media (min-width: 992px) {
	#bakery-img {
		background-position: 0 0;
	}

	#cakes-img {
		background-position: 100% 0;
	}
}

@font-face {
	font-family: Gotham;
	src: url('../fonts/Gotham-Book.otf') format("opentype");
}

@font-face {
	font-family: UrbanoLightItalic;
	src: url('../fonts/Urbano-LightCondItalic.otf') format("opentype");
}