/*
 * Base structure
 */

html, body {
	height: 100%;
	background-color: #FFFFFF;
	font-size: 100%;
}

body {
	font-family: "GoudyStM";
	color: #000000;
	text-align: center;
}

p {
    font-size: 1.15em; /* 1.25em relative to a 16px baseline on the body will result in a 20px font size */
}

p.lead {
	font-size: 1.5em;
}

p span {
	font-size: 0.8em;
}

a {
	color: #8E6144;
}

a:hover {
	color: ##5C3216;
}

.scroll-to-top a {
	color:#FFFFFF;
	position:fixed;
	background:#000000;
	bottom:20px;
	right:20px;
	padding: 15px 18px;
	z-index: 99999;
}

.landing-page-wrapper {
	display: table;
	color: #FFFFFF;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background: url(../img/pastrychef.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 80%;
}
.landing-page-wrapper-inner-tr {
	display: table-row;
}

.center-container {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/*
 * Header
 */
.header-brand, .header-nav {
	line-height: 50%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.header-nav > li {
	display: inline-block;
}
.header-nav > li + li {
	margin-left: 20px;
}
.header-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.header-nav > li > a:hover, .header-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: rgba(255,255,255,.25);
}
.header-nav > .active > a, .header-nav > .active > a:hover, .header-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

/*
 * Cover
 */

.cover {
	padding: 0 20px;
	text-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

/*
 * Services
 */

#services {
	background: url(../img/paper.png);
	background-repeat: repeat;
	padding: 30px 0;
	width: 100%;
	height: 600px;
	display: table;
}

#services > .row {
	display: table-cell;
	vertical-align: middle;
}

#services h3 {
	margin: 10px 20px;
}

/*
 * Social
 */
#social {
	height: 400px;
	display: table;
}

#social > .inner-center-wrapper {
	display: table-cell;
	vertical-align: middle;
}

/*
 * Footer
 */

footer {
	margin: 10px 0 0 0;
}

/* Separator */
section {
	background: url(../img/paper.png);
}

section::before,
section::after {
    content: '';
    pointer-events: none;
}

.ss-style-zigzag::before, .ss-style-zigzag::after {
	display: block;
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 90px;
    background-size: 50px 100%;
}

.ss-style-zigzag::before {
	display: block;
	top: -90px;
	background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #3498db));
	background-image: linear-gradient(315deg, #E1DAC8 25%, transparent 25%), linear-gradient( 45deg, #E1DAC8 25%, transparent 25%);
	background-position: 50%;
}

.ss-style-zigzag::after {
	display: block;
	top: -90px;
	background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #3498db));
	background-image: linear-gradient(-135deg, #E1DAC8 25%, transparent 25%), linear-gradient( 135deg, #E1DAC8 25%, #FFFFFF 25%);
	background-position: 50%;
}

/* Default button */
.btn {
	text-shadow: none; /* Prevent inheritence from `body` */
	border-radius: 0px;
	background-color: transparent;
	border: 2px solid;
	color: #000000;
	border-color: #000000;
}

.btn:hover, .btn:focus {
	color: #8E6144;
	border-color: #8E6144;
}

/*
 * Tablets are 768 and above.
 */

@media (min-width: 768px) {
	h1{font-size: 2.6em;}
	h2{font-size: 2.4em;}
	h3{font-size: 2.2em;}

	.cover {
		padding: 0 20%;
	}

	.header-brand {
		float: left;
	}

	.header-nav {
		float: right;
	}

	.landing-page-wrapper {
		background-position: 0% 80%;
	}

	/* Pull out the header and footer */
	.header {
		position: relative;
		padding: 20px;
	}
}

/*
 * Desktops are 992px and above. Large desktops are 1200px and above.
 */
@media (min-width: 992px) {
	/*
	 * Add stuff here later maybe?
	 */
}

/*
 * Fonts
 */
@font-face {
	font-family: GoudyStM;
	src: url('../fonts/GoudyStM-webfont.ttf');
}